@font-face {
  font-family: "Znikomit";
  src: url("@/assets/Znikomit.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-serif;
  }
  a {
    @apply underline hover:text-tertiary;
  }
  h1 {
    @apply tracking-wider text-xl;
  }
  h2 {
    @apply text-center tracking-wide;
  }
}

@layer components {
  .fsBox {
    @apply h-[50px] w-[50px] m-[15px];
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
